<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Notifications
    {{#if notificationsCount}}
      <span class="badge badge-inverse">{{notificationsCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationsCount}}
      {{#each notifications}}
        {{> notification}}
      {{/each}}
    {{else}}
      <li><span>No notifications</span></li>
    {{/if}}
  </ul>
</template>

<template name="notification">
  <li>
    <a href="{{pathFor 'questionPage' qId}}">
      {{#if answered}}
        <strong>{{commenteName}}</strong> answered your question
      {{else}}
        <strong>{{commenteName}}</strong> commented your post
      {{/if}}
    </a>
  </li>
</template>
