 <template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>    
        </button>
        <a class="navbar-brand" href="{{pathFor 'newQuestions'}}">Padawan</a>
      </div>
      <div class="navbar-collapse collapse" id="collapsable-nav">
        <ul class="nav navbar-nav">
          <li class="{{activeRouteClass 'newQuestions'}}">
            <a href="{{pathFor 'newQuestions'}}">
              Order by date
            </a>
          </li>
          <li class="{{activeRouteClass 'questionsByVotes'}}">
            <a href="{{pathFor 'questionsByVotes'}}">
              Order by votes
            </a>
          </li>
          <li class="dropdown">
            {{> tagsDropdown}}
          </li>
          {{#if currentUser}}
            <li class="{{activeRouteClass 'questionSubmit'}}">
              <a href="{{pathFor 'questionSubmit'}}">
                New Question
              </a>
            </li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-search">
              <input type="text" class="search-query" id="search-text" placeholder="Search" value="{{searchValue}}">
            </form>
          </li>
          {{#if currentUser}}
          <li class="dropdown">
            {{> notifications}}
          </li>
          {{/if}}
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
   </nav>
 </template>
