 <template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>    
        </button>
        <a class="navbar-brand" href="{{pathFor 'newQuestions'}}">Padawan</a>
      </div>
      <div class="navbar-collapse collapse" id="collapsable-nav">
        <ul class="nav navbar-nav">
          <li class="{{activeRouteClass 'newQuestions'}}">
            <a href="{{pathFor 'newQuestions'}}">
              {{_ "order_by_date"}}
            </a>
          </li>
          <li class="{{activeRouteClass 'questionsByVotes'}}">
            <a href="{{pathFor 'questionsByVotes'}}">
              {{_ "order_by_votes"}}
            </a>
          </li>
          <li class="dropdown">
            {{> tagsDropdown}}
          </li>
          {{#if currentUser}}
            <li class="{{activeRouteClass 'questionSubmit'}}">
              <a href="{{pathFor 'questionSubmit'}}">
                {{_ "new_question"}}
              </a>
            </li>
          {{ else }}
            {{> loginButtons}}
          {{/if}}
        </ul>
            <form class="navbar-form navbar-right navbar-search">
              <div class="form-group">
                <input type="text" class="search-query" id="search-text" placeholder="{{_ "search"}}" value="{{searchValue}}">
              </div>
            </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button id="to_esp" class="btn">ESP</button>
            <button id="to_eng" class="btn">ENG</button>
          </li>
          {{#if currentUser}}
          <li class="dropdown">
            {{> notifications}}
          </li>
          {{/if}}
          
        </ul>
      </div>
    </div>
   </nav>
 </template>
