<template name="questionPage">
	{{#with currentQuestion}}
		<div class="title"><h2>{{title}}</h2></div>
		<div class="q-body">{{body}}</div>
		<div class="q-footnote">
			<h7>Asked by {{author}} on {{dateFormat submitted format="DD/MM/YYYY"}}</h7>
			{{#if ownQuestion}}<a href="{{questionEditPath this}}">Edit question</a>{{/if}}
		</div>
		<img src="{{picture}}">
		<div class="commentsWrap">
			<ul class="comments">
			{{#each comments}}
				{{> comment}}
			{{/each}}
			</ul>
			{{#isolate}}
			<div class="insertComment">
				{{#if currentUser}}
					{{> commentSubmit _id}}
				{{else}}
					<p>Please log in to comment</p>
				{{/if}}
			</div>
			{{/isolate}}
		</div>
		<ul class="answers">
			{{#each answers}}
				{{> answer}}
			{{/each}}
		</ul>
		{{#if currentUser}}
			{{#isolate}}
				{{> answerSubmit}}
			{{/isolate}}
		{{else}}
			<p>Please log in to answer.</p>
		{{/if}}
		
	{{/with}}
</template>