<template name="questionItem">
	<div class="question">
		<a href="#" class="upvote btn {{upvotedClass}}"><i class="glyphicon glyphicon-arrow-up icon-arrow-up icon-white"></i></a>
    <div class="questionScore">{{questionScore}}</div>
    <a href="#" class="upvote btn {{downvotedClass}}"><i class="glyphicon glyphicon-arrow-down  icon-arrow-down icon-white"></i></a>
    <a href="#" class="watchbtn btn {{watchedClass}}"><i class="glyphicon glyphicon-eye-open  icon-eye-open icon-white"></i></a>
    <div class="question-content">
      <h3><a href="{{pathFor 'questionPage' this}}">{{title}}</a><span>{{author}}</span></h3>
      <p>
        {{#if ownQuestion}}<a href="{{pathFor 'questionEdit' this}}">{{_ "edit"}}</a>{{/if}}
        {{#if userIsAdmin}}<a href="#" id="hide">{{_ "hide"}}</a> {{/if}}
      </p>  
    </div>
    <a href="{{pathFor 'questionPage' this}}" class="discuss btn">{{_ "check_answers"}}</a>
    <div class="item-tags">
      {{#if ownQuestion}}
        {{#each tags}}
          <div class="tag removable_tag label label-info">
            <div class="name tag-name">{{tag}}</div>
            <div class="remove tag-remove"><i class="glyphicon glyphicon-remove-sign  icon-remove-sign icon-white"></i></div>
          </div>
        {{/each}}
      {{else}}
        {{#each tags}}
          <div class="tag removable_tag label label-info">
            <div class="name tag-name">{{tag}}</div>
          </div>
        {{/each}}
      {{/if}}

      {{#if adding_tag}}
        <div class="tag edittag">
          <form id="add-tag-form">
            <input type="text" id="edittag-input" value="" />
            <button id="add-tag-btn" class="btn btn-primary">{{_ "add"}}</button>
            <button id="cancel-tag-btn" class="btn btn-primary">{{_ "cancel"}}</button>
          </form>
        </div>
      {{else}}
        {{#if ownQuestion}}
          <div class="tag addtag btn">
            +tag
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>