<template name="questionItem">
	<div class="question">
		<a href="#" class="upvote btn {{upvotedClass}}"><i class="icon-arrow-up icon-white"></i></a>
    <a href="#" class="watchbtn btn {{watchedClass}}"><i class="icon-eye-open icon-white"></i></a>
    <div class="question-content">
      <h3><a href="{{questionPagePath this}}">{{title}}</a><span>{{author}}</span></h3>
      <p>
        {{#if ownQuestion}}<a href="{{questionEditPath this}}">Edit</a>{{/if}}
      </p>
      {{#each tags}}
        <a href="tag">tag</a>
      {{/each}}
    </div>
    <a href="{{questionPagePath this}}" class="discuss btn">Check Answers</a>
  </div>
</template>