<template name="questionSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" type="text" value="" placeholder="Question title"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="body">Body</label>
			<div class="controls" id="editor">
				<textarea name="body" type="text" value="" placeholder="Question body">
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="body">Board</label>
			<div class="controls">
				<a class="btn btn-primary" id="canvas-undo"><i class="icon-backward icon-white"></i>Undo</a>
				<a id="wipe-canvas" class="btn btn-primary"><i class="icon-eject icon-white"></i>Wipe</a>
				<a class="btn btn-primary" id="canvas-redo"><i class="icon-forward icon-white"></i>Redo</a>
				<div class="canvas-wrap">
					<canvas id="q-canvas">
					</canvas>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" id="submit-question" class="btn btn-primary">
			</div>
		</div>
	</form>
</template>