.grid-block, .main, .question, .q-body, .container, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
body {
  background: #eee;
  color: #666666;
}
.navbar { margin-bottom: 10px; }
.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px;
}

#spinner {
  height: 300px;
}

.question {
  *zoom: 1;
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
  position: relative;
  opacity: 1;
}

.question:before, .question:after, .content:before, .content:after {
  content: "";
  display: table;
}

.question:after, .content:after {
  clear: both;
}
.question.invisible { opacity: 0; }
.question .upvote {
display:block;
margin: 7px 12px 0 0;
float: left;
}
.question .watchbtn {
	display:block;
	margin: 7px 12px 0 0;
	float: left;
}
.question .question-content { float: left; }
.question .question-content h3 {
	margin:0;
	line-height: 1.4;
	font-size: 18px;
}

.question .question-content h3 a {
display: inline-block;
margin-right: 5px;
}

.question .question-content h3 span {
font-weight: normal;
font-size: 14px;
display: inline-block;
color: #aaaaaa;
}
.question .question-content p { margin: 0 }
.question .discuss {
display: block;
float: right;
margin-top: 7px;
}
.comments {
list-style-type: none;
margin: 0;
}
.comments li h4 {
font-size: 16px;
margin: 0;
}
.comments li h4 .date {
font-size: 12px;
font-weight: normal;
}
.comments li h4 a { font-size: 12px; }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
display: block;
padding: 3px 20px;
clear: both;
line-height: 20px;
color: #bbb;
white-space: nowrap;
}
.load-more {
display:block;
order-radius: 3px;
background: rgba(0,0,0,0.05);
text-align: center;
height: 60px;
line-height: 60px;
margin-bottom: 10px;
}
.load-more:hover {
text-decoration: none;
background: rgba(0,0,0,0.1);
}


.canvas-wrap {
	border: 3px solid;
	border-color: "#999999";
	min-height: 9cm;
	min-width: 15cm;
	height: 100%;
	width: 100%;
}

.content {
	background-color: '#ffe';
}

.answers {
  margin: 0px;
}
.comment-body {
  font-size: 13px;
  color: '#222';
}

.comment-author {
  font-size: 11px;
  color: '#333';
}

.comment {
  padding-left: 5%;
}
.container {
  padding-top: 13px;
  border-bottom: solid 2px '#eee';
}
.questionScore {
  display: block;
  margin: 7px 12px 0 0;
  float: left;
  font-size:22px;
  color: '#ff0';
}
.item-tags {
  display:block;
  overflow: auto;
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}
#add-tag-form {
  margin-bottom: 0px;
}
#edittag-input {
  padding-bottom: 0px
}
.tag-remove {
  float: right;
}
.tag-name {
  float: left;
  color: '#000';
  font-size: 13px;
  padding: 1px;
  margin-right: 3px;
}