<template name="answer">
	<div class="row">
		<div name="answer" class="col-sm-12 col-xs-12">
			<div class="a-body">
				{{body}}
			</div>
			<img src="{{picture}}">
			<div class="q-footnote">
				Answered by {{author}} on {{dateFormat submitted format="DD/MM/YYYY"}}
				{{#if ownAnswer}}<a href="{{pathFor 'answerEdit' this}}">Edit answer</a>{{/if}}
				<button name="marker" class="btn btn-link pull-right">
					{{ commentLength }}<span class="glyphicon glyphicon-comment"></span>
				</button>
			</div>
		</div>
		<div class="commentsWrap hidden col-sm-4 col-xs-12">
			<ul class="comments">
			{{#each comments}}
				{{> comment}}
			{{/each}}
			</ul>
			<div class="insertComment">
				{{#if currentUser}}
					{{> commentSubmit _id}}
				{{else}}
					<p>Please log in to comment</p>
				{{/if}}
			</div>
		</div>
	</div>
</template>