<template name="answerEdit">
	<form name="answer" class="answer-form">
		<div class="control-group">
			<label for="body">Answer body</label>
			<div class="controls" id="editor">
				<textarea id="text-body" name="body">{{body}}</textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-primary" id="canvas-undo"><i class="icon-backward icon-white"></i>Undo</a>
				<a id="wipe-answer" class="btn btn-primary"><i class="icon-eject icon-white"></i>Wipe</a>
				<a class="btn btn-primary" id="canvas-redo"><i class="icon-forward icon-white"></i>Redo</a>
				<a id="reset-canvas" class="btn btn-primary"><i class="icon-share icon-white"></i>Reset canvas</a>
				<a id="load-question" class="btn btn-primary"><i class="icon-repeat icon-white"></i> Load question canvas</a>
				<div class="canvas-wrap">
					<canvas id="a-canvas">
					</canvas>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Update answer</button>
			</div>
		</div>
	</form>
</template>